/* 
    1rem=1em=16px
    1300px= 1300/16
*/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondery {
    font-size: 3.6rem;
  }

  .heading-tertiery {
    font-size: 2.4rem;
  }

  .navbar {
    padding: 4.8rem 3.2rem;
  }

  .nav-link-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-hero {
    padding: 3.2rem 3.2rem 8.4rem 3.2rem;
  }

  .hero-img {
    width: 60%;
  }

  .customer-container {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 6.4rem;
  }

  .meal-content {
    padding: 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 60% 40%;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(158, 153, 153, 0.973);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    /* !alternative to display none all the animation will work on this */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 100;
    pointer-events: all;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .nav-open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* .navbar{
    align-items: baseline;
    padding: 0;
  } */

  .nav-link-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }
}

/* ! below 704px */

@media (max-width: 44em) {
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }

  .pricing-plan {
    width: 130%;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 4.8rem;
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

@media (max-width: 34em) {
  .grid--3--cols,
  .grid--2--cols,
  .grid--4--cols {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .logos img {
    height: 1.2rem;
  }

  .btn--full,
  .btn--outline {
    padding: 2.4rem 1.6rem !important;
  }

  .hero-img-box img {
    width: 80%;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(4.8rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .section-pricing {
    padding: 3.2rem 0;
  }

  .pricing-plan {
    width: 100%;
    padding: 2.4rem 8.4rem;
  }

  .section-cta {
    padding: 3.2rem 0;
  }
  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img {
    grid-row: 1;
    height: 32rem;
  }

  .footer {
    padding: 3.2rem 0;
  }
}
